version: '3'

services:

  nodeserver:
    build:
      context: node
    container_name: app
    entrypoint: dockerize -wait tcp://db:3306 docker-entrypoint.sh
    networks: 
      - node-network
    volumes:
      - ./node:/usr/src/app
      - /usr/src/app/node_modules
    tty: true
    ports:
      - "8080:8080"
    depends_on:
     - db
  
  nginx:
    build:
      context: ./nginx
    container_name: nginx
    ports:
      - "80:80"
    networks:
      - node-network

  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql #salvar na pasta mysql
      - "./migrations:/docker-entrypoint-initdb.d"
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network

networks:
  node-network:
    driver: bridge